<% content_for :head do %>
  <title><%= site_title %> - <%= @picture.title %> Detailansicht</title>
<% end %>

<% content_for :menu do %>
	Link to this pic: <a href="<%= mainview_url (:id => @picture.id) %>"><%= mainview_url (:id => @picture.id) %></a> 
	| <a href="javascript:window.close();">Close X</a>
	| <a href="http://twitter.com/home?status=Was ne geile Schlampe: <%= mainview_url (:id => @picture.id) %>" title="Tweet This!" target="_blank"><img src="/images/tweet-this-1.png"></a> 
	| <a href="http://www.facebook.com/sharer.php?u=<%= mainview_url (:id => @picture.id) %>&t=Was ne geile Schlampe!" title="Farmville This!" target="_blank"><img src="/images/fb-this.png"></a> 
<% end %>


<img class="picBorder" id="detailPic" src="<%= @picture.hosting_filename %>" alt="" />