<% content_for :head do %>
  <title><%= site_title %> - <%= @picture.title %> Detailansicht</title>
<% end %>

<% content_for :menu do %>
	Link zu dieser Schlampe: <a href="<%= mainview_url (:id => @picture.id) %>"><%= mainview_url (:id => @picture.id) %></a> 
	
	| <%= twitter_button :title => "Was ne geile Schlampe:", :url => mainview_url (:id => @picture.id) %>

	| <%= facebook_button :url => mainview_url (:id => @picture.id) %>
	
	| <a href="javascript:window.close();">Close X</a> 
	
<% end %>


<img class="picBorder" id="detailPic" src="<%= @picture.hosting_filename %>" alt="" />