<% content_for :head do %>
    <title><%= site_title %> - <%= @picture.title %></title>
	<meta name="description" content="Auf Schlampen.be gibt es Bilder von heissen Girls, Babes und Schlampen zu bewerten!">
	<meta name="keywords" content="schlampe, schlampen, flittchen, geile, geile schlampen, geile flittchen, babes, partybabes">
	<meta name="copyright" content="Vito Media International - 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010">
	<meta name="author" content="Don Vito">
	<meta name="email" content="info@schlampen.be">
	<meta name="Charset" content="UTF-8">
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'shared/sidebar' %>
<% end %>


<div id="picWrapper">
	<a href="<%= detailview_url (:id => @picture) %>" target="_blank<%= @picture.to_param %>"><img class="picBorder" id="mainPic" src="<%= @picture.hosting_filename %>" alt="<%= @picture.to_param %> - <%= @picture.title %> - <%= @picture.description %>" title="<%= @picture.description %>" /></a>

	<% if (session[@picture.to_param.to_s] != 1) %>
		<%= render :partial => "voting_bar" %>
	<% else %>
		<p style="text-align: center;">Du hast diese Schlampe bereits bewertet.<br/><a href="/">Andere Schlampe anzeigen!</a></p>
	<% end %>
</div>						
