<div class='stats_box' style='margin-left: 15px;'>
	<%= statistic_number_of_pictures %> Schlampen<br />
	<%= statistic_number_of_votes %> Votes<br />
</div>
					<br style="clear:both" />
<h2>Navigation</h2>
<div class='stats_box' style='margin-left: 15px;'>
	<a href="<%= mainview_url %>">Home</a><br/>
	<a href="<%= top10_path %>">Top 10</a><br/>
	<a href="<%= flop10_path %>">Flop 10</a>
</div>