<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
				
			<%= yield :head %>
	
			<%= stylesheet_link_tag "main" %>
			<%= stylesheet_link_tag "custom" %>
	</head>
	<body>
		<div id="wrapper">

				<div id='menu'>
					<%= yield :menu %>
				</div>
				<div id="bodyWrapper">

					<center>
						<table border="0">
							<tr>
								<td align=left>
									<!-- BEGIN PARTNER PROGRAM - DO NOT CHANGE THE PARAMETERS OF THE HYPERLINK -->
									<script type="text/javascript" src="http://www.banner-rotation.com/rotate.aspx?ref=240051&site=2832&pool=3"></script>
									<noscript><a href="http://partners.webmasterplan.com/click.asp?ref=240051&site=2832&type=b1&bnb=1" target="_blank"><img src="http://banners.webmasterplan.com/view.asp?ref=240051&site=2832&b=1" border="0" /></a><br /></noscript>
									<!-- END PARTNER PROGRAM -->
								</tr>
							</td>

<tr>
							<td valign=top>
								<%= yield %>
							</td>
							<td valign=center>
								<!-- BEGIN PARTNER PROGRAM - DO NOT CHANGE THE PARAMETERS OF THE HYPERLINK -->
								<script type="text/javascript" src="http://www.banner-rotation.com/rotate.aspx?ref=240051&site=2832&pool=5"></script>
								<noscript><a href="http://partners.webmasterplan.com/click.asp?ref=240051&site=2832&type=b1&bnb=1" target="_blank"><img 		src="http://banners.webmasterplan.com/view.asp?ref=240051&site=2832&b=1" border="0" /></a><br /></noscript>
								<!-- END PARTNER PROGRAM -->
							</td>
	</tr>
							<tr>
								<td align=right>
									<!-- BEGIN PARTNER PROGRAM - DO NOT CHANGE THE PARAMETERS OF THE HYPERLINK -->
									<script type="text/javascript" src="http://www.banner-rotation.com/rotate.aspx?ref=240051&site=2832&pool=3"></script>
									<noscript><a href="http://partners.webmasterplan.com/click.asp?ref=240051&site=2832&type=b1&bnb=1" target="_blank"><img src="http://banners.webmasterplan.com/view.asp?ref=240051&site=2832&b=1" border="0" /></a><br /></noscript>
									<!-- END PARTNER PROGRAM -->
								</tr>
							</td>
						</table>
						
						
					</center>
				</div>
			</div>
	</body>



</html>

