<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
				
			<%= yield :head %>
	
			<%= stylesheet_link_tag "main" %>
			<%= stylesheet_link_tag "custom" %>
	</head>
	<body>
		<div id="wrapper">

				<div id='menu'>
					<%= yield :menu %>
				</div>
				<div id="bodyWrapper">

					<center>
						<table border="0">
							<tr>
								<td align=left>
									<%= banner_720 %>
								</td>
							</tr>

							<tr>
								<td valign=top>
									<%= yield %>
								</td>
								<td valign=center>
									<%= banner_skyscraper %>
								</td>
							</tr>
							<tr>
								<td align=right>
									<%= banner_720 %>
								</tr>
							</td>
						</table>
						
						
					</center>
				</div>
			</div>
	</body>



</html>

